@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* html, body stylings  */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
}

body {
	padding-top: 50px;
}

/* Navbar stylings */
.white-nav {
	background-color: #fff;
	box-shadow: 0 0 2px black;
}

.navbar-default .nav > li > .nav-links:hover {
	color: #e88420;
}

/* Overwrite the margin bottom for bootstrap navbar */
.navbar {
	margin-bottom: 0;
}

/* about us stylings */
.about-us {
	width: calc(100% - 200px);
	height: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

.lunch-tagline {
	color: #e88420;
	margin-top: 0;
	margin-bottom: 1.1em;
}

.about-paragraph {
	margin-bottom: 3.2em;
}

/* Stylings for header */
.header-image {
	position: relative;
	min-height: calc(100vh - 50px);
	width: 100%;
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ),
		url('/assets/images/sushi.jpg') center center no-repeat;
	background-size: cover;
}

.text-wrapper {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	color: #fff;
	height: 250px;
	width: calc(100% - 204px);
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid #e88420;
}

.text-wrapper .header-text {
	position: absolute;
	top: 37%;
	left: 0;
	right: 0;
	font-size: 1.7em;
	cursor: pointer;
}

/* class that adds a top margin to rows */
.top-buffer {
	margin-top: 20px;
}

/* down arrow stylings */
span.down-arrow {
	display: block;
	position: absolute;
	top: 91.5%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    border-right: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    transform: rotate(135deg);
}

.header-arrow {
	cursor: default;
	-webkit-animation: pulse 1.3s infinite alternate;
    -moz-animation: pulse 1.3s infinite alternate;
    animation: pulse 1.3s infinite alternate;
}

@-webkit-keyframes pulse {
    from { top: 91.5%; }
    to { top: 95%; }
}
@-moz-keyframes pulse {
    from { top: 91.5%; }
    to { top: 95%; }
}
@keyframes pulse {
    from { top: 91.5%; }
    to { top: 95%; }
}

/* stylings for google searching image */
.darken {
	display: inline-block;
	background: black;
	padding: 0;
}

img.search-image {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

img.search-image:hover {
	-webkit-box-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 10px black;
	opacity: 0.7;
}

img.search-image:hover + span.img-arrow {
	display: block;
	top: 60%;
}

span.img-arrow:hover {
	display: block;
	top: 60%;
}

span.img-arrow {
	display: none;
}

/* Finder stylings */
.food-search {
	height: 100vh;
	border-top: 2px solid #f6f6f6;
	padding: 50px 0;
}

section.food-search > h2 {
	color: #e88420;
}

form.search-form {
	width: calc(100% - 200px);
	margin: 0 auto;
}

button#btn-orange {
	background-color: #E88420;
	border: 1px solid #D37520;
	color: #fff;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

button.btn-orange:hover {
	color: #fff;
	background-color: #D37520;
}

/* Google map stylings */
#results-map {
	width: calc(100% - 200px);
	height: 400px;
	border: 2px solid #e88420;
	margin: 70px auto 0 auto;
}

#results-map #g-map {
	width: 100%;
	height: 400px;
}

/* Github repo link stylings */
#github-repo-link {
	display: block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #d37520;
	text-align: center;
	margin: 0 auto 40px auto;
	text-decoration: none;
	color: #333;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

#github-repo-link:hover {
	background-color: #e88420;
	color: white;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
	.about-us {
		width: calc(100% - 60px);
	}

	form.search-form {
		width: calc(100% - 60px);
	}

	.text-wrapper {
		width: calc(100% - 60px);
	}

	.text-wrapper .header-text {
		font-size: 1em;
	}

	#results-map {
		width: calc(100% - 60px);
	}
}